#OnOff {
  padding: 100px;
  margin: 15px;
  text-align: justify;
}

img {
  color: yellow;
  max-width: 200px;
 
}

#lights {
  margin: 25px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#header {
  font-size: 54px;
  margin: 15px;
  text-align: center;
}
#cent {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

#switch {
  min-width: 200px;
  max-width: 400px;
  border: none;
  background-color: white;
}

#buttons {
  margin: 15px;
  text-align: center;
}
button {
  margin: 25px;
  padding: 15px;
}

body {
  background-color: violet;
}

#display {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}