#OnOff {
  padding: 100px;
  margin: 15px;
  text-align: justify;
}

img {
  color: yellow;
  max-width: 200px;
 
}

#lights {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

h1 {
  margin: 15px;
  text-align: center;
}
#cent {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#switch {
  min-width: 200px;
  max-width: 400px;
  border: none;
  background-color: white;
}